.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 0.3rem;
  margin: 0.8rem 0;
  border-radius: 12px;
  background-color: var(--input-bg-color);
  cursor: pointer;
}

.container {
	display: flex;
  flex-direction: column;
  flex: 1;
}

.container h3 {
  font-size: 1.2rem;
  font-weight: bold;
  flex: 1;
  margin: 0.25rem 1rem;
  color: inherit;
}

.container p {
  color: #3a3a3a;
  font-size: 0.8rem;
  flex: 1;
  margin: 0.25rem 1rem;
  color: inherit;
}

.active {
  border-radius: 12px;
  background-color: yellow;
  width: 0.5rem;
  height: 4.5rem;
}

.finished {
  border-radius: 12px;
  background-color: green;
  width: 0.5rem;
  height: 4.5rem;
}

.archives {
  border-radius: 12px;
  background-color: gray;
  width: 0.5rem;
  height: 4.5rem;
}

.scratch {
  text-decoration: line-through;
}


