* {
	box-sizing: border-box;
	border: none;
}

body {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	background-image: linear-gradient(100deg, #575656, #062e3f);
	color: #ffdfdb;
	transition: 1s linear;
}

/*
.standard {
	background-image: linear-gradient(100deg, #575656, #062e3f);
	color: #ffdfdb;
	transition: 0.3s linear;
	overflow: hidden;
}

.light {
	background-image: linear-gradient(100deg, #d4f1ff, #ffffff);
	color: #1a150e;
	transition: 0.3s linear;
}

.darker {
	background-image: linear-gradient(100deg, #001214, #001f29);
	color: white;
	transition: 0.3s linear;
}

*/