.button {
  font: inherit;
  background-color: #4b4b4b;
	color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
	border-radius: 12px;
	transition: background-color 200ms ease-in-out;
}

.button:hover,
.button:active {
  background: #757575;
}

.button:focus {
  outline: none;
}