.button {
  height: 2rem;
  background-color: var(--input-bg-color);
  color: inherit;
  padding:  0rem;
  cursor: pointer;
	border-radius: 12px;
	transition: background-color 200ms ease-in-out;
}

.button:hover,
.button:active {
  background: var(--button-hover);
}