.date {
  display: flex;
  flex-direction: column;
  width: 4.5rem;
  height: 4.5rem;
  border: 1px solid var(--date-border);
  background-color: var(--date-bg);
  color: inherit;
  border-radius: 12px; 
  align-items: center;
  justify-content: center;
}

.month {
  font-size: 0.7rem;
}

.year {
  font-size: 0.7rem;
}

.day {
  font-size: 1.3rem;
  font-weight: bold;
}

.time {
	font-size: 0.8rem;
}