.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.85);
}

.modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
	border-radius: 12px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-bg-color);
  padding: 1rem;
}

.header {
	background-color: var(--input-bg-color);
  padding: 1rem;
}

.header h3 {
  margin: 0;
  color: inherit;
}

.content {
	background-color: var(--main-bg-color);
  color: inherit;
}

.status {
  background-color: var(--main-bg-color);
  color: inherit;
  font-size: 0.8rem;
}

.actions {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 0.5rem;
	background-color: var(--main-bg-color);
}

input {
  font: inherit;
  color: inherit;
  font-size: 0.8rem;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 10rem;
  max-width: 100%;
  background-color: var(--input-bg-color);
}

.helper {
  background-color: var(--main-bg-color);
  color: inherit;
  font-size: 0.8rem;
  margin: 0;
  padding-left: 1rem;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}

@media (max-width: 768px) {
  .modal {
    position: relative;
    top: 20vh;
  }
  .actions {
    flex-direction: column;
  }
}